//---GLOBAL---
$green-color: #18cfab;
$light-blue-color: #00cbf6;
$dark-blue-color: #2e4a5b;
$white-color: #FFF;

//---HEADER---


//---PRICES---
$offer-cost-bg-color: #2e4a5b;

//---CONTACT---


//---FOOTER---

